@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
    white: FFFCF9
    cream: FFF6EA
    light grey: EEEBE7
    grey: D0C9BD
    dark grey: 5D5548
    darker grey: 302C26
    light orange: FFB27B
    orange: FF842C
    brown: 5C3921
    black: 1B1612
  */
  :root {
    --background: #FFFCF9;
    --foreground: #1B1612;

    --cream: #FFF6EA;
    
    --primary: #ff7919;
    --primary-foreground: #FFFCF9;

    --secondary: #5C3921;
    --secondary-foreground: #FFFCF9;

    --tertiary: #ffc59c;
    --tertiary-foreground: #1B1612;

    --accent: #EEEBE7;
    --accent-foreground: #302C26;

    --muted: #D0C9BD;
    --muted-foreground: #5D5548;

    --destructive: #DC2828;
    --destructive-foreground: #FFFCF9;

    --success: #16A249;
    --success-foreground: #FFFCF9;

    --card: #FFFCF9;
    --card-foreground: #1B1612;

    --popover: #FFFCF9;
    --popover-foreground: #1B1612;

    --border: #D0C9BD;
    --input: #5D5548;
    --ring: #FFB27B;

    --radius: 0.5rem;
  }
  /* 
    white: FFFCF9
    cream: FFF6EA
    light grey: EEEBE7
    grey: D0C9BD
    dark grey: 5D5548
    darker grey: 302C26
    light orange: FFB27B
    orange: FF842C
    brown: 5C3921
    black: 1B1612
  */
  .dark {
    --background: #1B1612;
    --foreground: #FFFCF9;

    --primary: #ff852e;
    
    --secondary: #ffe1cb;
    --secondary-foreground: #1B1612;

    --tertiary: #5C3921;
    --tertiary-foreground: #FFFCF9;

    --accent: #302C26;
    --accent-foreground: #EEEBE7;

    --muted: #5D5548;
    --muted-foreground: #D0C9BD;

    --destructive: #ff4343;

    --card: #1B1612;
    --card-foreground: #FFFCF9;

    --popover: #1B1612;
    --popover-foreground: #FFFCF9;

    --border: #5D5548;
    --input: #D0C9BD;
  }
}
