@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 
    white: fffcf9
    cream: fff7ed
    light grey: eeeeee
    grey: d0d0d0
    dark grey: 424242
    darker grey: 282523
    light orange: FFB27B
    orange: FF842C
    brown: 2f1f15
    black: 171310
  */
  :root {
    --background: #fffcf9;
    --foreground: #171310;

    --cream: #fbf4eb;

    --primary: #ff7919;
    --primary-foreground: #fffcf9;

    --secondary: #3a2619;
    --secondary-foreground: #fffcf9;

    --tertiary: #ffe1cb;
    --tertiary-foreground: #171310;

    --accent: #eeeeee;
    --accent-foreground: #292929;

    --muted: #d0d0d0;
    --muted-foreground: #424242;

    --destructive: #dc2828;
    --destructive-foreground: #fffcf9;

    --success: #16a249;
    --success-foreground: #ffffff;

    --card: #fffcf9;
    --card-foreground: #171310;

    --popover: #fffcf9;
    --popover-foreground: #171310;

    --border: #d0d0d0;
    --input: #d0d0d0;
    --ring: #fecba7;

    --radius: 0.75rem;
  }
  /* 
    white: fffcf9
    cream: fff7ed
    light grey: eeeeee
    grey: d0d0d0
    dark grey: 424242
    darker grey: 282523
    light orange: FFB27B
    orange: FF842C
    brown: 2f1f15
    black: 171310
  */
  .dark {
    --background: #171310;
    --foreground: #fffcf9;

    --cream: #1d1c1b;

    --primary: #ff7919;

    --secondary: #ffe1cb;
    --secondary-foreground: #171310;

    --tertiary: #2f1f15;
    --tertiary-foreground: #fffcf9;

    --accent: #282523;
    --accent-foreground: #eeeeee;

    --muted: #424242;
    --muted-foreground: #d0d0d0;

    --destructive: #ff4343;

    --card: #171310;
    --card-foreground: #fffcf9;

    --popover: #171310;
    --popover-foreground: #fffcf9;

    --border: #424242;
    --input: #424242;
    --ring: #8a6752;
  }
}
