@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 98%;
    --background-less: 60 5% 96%;
    --foreground: 20 14% 4%;
    --foreground-less: 12 6% 15%;

    --primary: 27 96% 61%;
    --primary-foreground: 60 9% 98%;

    --secondary: 34 100% 92%;
    --secondary-foreground: 20 14% 4%;

    --accent: 20 6% 90%;
    --accent-foreground: 20 14% 4%;

    --muted: 60 5% 96%;
    --muted-foreground: 12 6% 15%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 60 9% 98%;

    --success: 142 76% 36%;
    --success-foreground: 60 9% 98%;

    --card: 60 9% 98%;
    --card-foreground: 20 14% 4%;

    --popover: 60 9% 98%;
    --popover-foreground: 20 14% 4%;

    --border: 24 6% 83%;
    --input: 24 6% 83%;
    --ring: 34 100% 92%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 4%;
    --background-less: 24 10% 10%;
    --foreground: 60 9% 98%;
    --foreground-less: 60 5% 96%;

    --muted: 24 10% 10%;
    --muted-foreground: 20 6% 90%;

    --accent: 12 6% 15%;
    --accent-foreground: 60 9% 98%;

    --card: 20 14% 4%;
    --card-foreground: 60 9% 98%;

    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;

    --border: 24 5% 64%;
    --input: 24 5% 64%;
    --ring: 34 100% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
